{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class=container-fluid>
        <div class=row-fluid>
            <div class=span12>
                <div class=hero-unit>
                    <h1 class=heading>Browse the GRDR Data Repository</h1>
                    <h3>Explore GRDR data normalized to the OMOP standard vocabulary and data model.</h3>
                    <h4>Click the "Explore the GRDR" button below.</h4>
                    <a href="{% url 'query' %}" class="btn btn-primary">Explore the GRDR</a>

                    <br></br>
                    <h3> Or start by watching the tutorial below:</h3>
                    <iframe width="840" height="473" src="//www.youtube.com/embed/8c4iz7CaLrs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    
    <div class=container-fluid>
        <div class=row-fluid>
            <div class=span12>
                <div class="hero-unit span12">
                    <h2>About OMOP:</h2>
                    <p>The<a href="http://omop.org"> Observational Medical Outcomes Partnership</a> (OMOP) has created a<a href="http://omop.org/CDM"> Common Data Model</a> (CDM) to standardize the format and content of observational data, with the goal of enabling the application of standardized tools and methods to it. The database underlying this web application implements the fourth version of the OMOP CDM.</p>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class=container-fluid>
        <div class=row-fluid>
            <div class=span12>
                <div class=hero-unit>
                    <h2>About Harvest:</h2>
                    <p><a href="http://harvest.research.chop.edu" target="_blank">Harvest</a> is a toolkit for building web applications that facilitates integrating, discovering, and reporting on data. It is developed and maintained by the<a href="http://cbmi.research.chop.edu" target="_blank"> Center for Biomedical Informatics</a> (CBMi). It is nationally funded, designed for biomedical data <em>first</em>, open source and available on<a href="https://github.com/cbmi/harvest/"> GitHub</a>, and it comes with an HTML5 web client. 

                    <p>For best performance, please use <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.mozilla.org">Firefox</a> or <a href="http://www.apple.com/safari/">Safari</a>.</p>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}
